.grid-33
    .app--section
        ul.app--message--list
            li
                h3
                    | Conversation with
                    a= dataObj.messages[0].sender.name
                ul.app--message--conversation
                    li.app--message
                        .app--avatar(style=`background-image: url(${dataObj.messages[0].sender.profile_image_url})`)
                            img(src='/static/images/f-spore.png')
                        p.app--message--text= dataObj.messages[0].text
                        p.app--message--timestamp= dataObj.messageDates[0]
                    li.app--message--me
                        .app--avatar(style=`background-image: url(${dataObj.messages[1].recipient.profile_image_url})`)
                            img(src='/static/images/m-spore.png')
                        p.app--message--text= dataObj.messages[1].text
                        p.app--message--timestamp= dataObj.messageDates[1]
                    li.app--message
                        .app--avatar(style=`background-image: url(${dataObj.messages[2].sender.profile_image_url})`)
                            img(src='/static/images/f-spore.png')
                        p.app--message--text= dataObj.messages[2].text
                        p.app--message--timestamp= dataObj.messageDates[2]
                    li.app--message--me
                        .app--avatar(style=`background-image: url(${dataObj.messages[3].recipient.profile_image_url})`)
                            img(src='/static/images/m-spore.png')
                        p.app--message--text= dataObj.messages[3].text
                        p.app--message--timestamp= dataObj.messageDates[3]
                    li.app--message
                        .app--avatar(style=`background-image: url(${dataObj.messages[4].sender.profile_image_url})`)
                            img(src='/static/images/f-spore.png')
                        p.app--message--text= dataObj.messages[4].text
                        p.app--message--timestamp= dataObj.messageDates[4]